@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'system';
    src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'rub';
    src: url('../fonts/rb-font.ttf');
}
body, body * {
    font-family: 'system';
}
body{
    background: linear-gradient(#e66465, #9198e5);
    overflow: hidden;
}
:root{
    --app-color: #1a96ee;
    --app-mute-color: #e1e4e6;
    --app-dark-color: #334155;
}

.text-sys-primary{
    color: var(--app-color);
}

.text-sys-secondary{
    color: var(--app-mute-color);
}

.text-sys-dark{
    color: var(--app-dark-color);
}
.font-rub{
    font-family: 'rub' !important;
}